* ****************** Custom Properities ****************** */
:root{
--first-color:rgb(217,0,98);
--first-alpha-color:rgb(217,0,98, 0.75);
--second-color:rgb(20,25,45);
--second-alpha-color:rgb(20,25,45,0.75);
--third-color:rgb(80,20,100);
--third-alpha-color:rgb(80,20,100,0.75);


--link-color:rgb(80,158,227);
--link-alpha-color: rgb(80,158,277,0.75);


--bg-color:rgb(245,245,245);
--bg-alpha-color:rgb(245,245,245,0.75);





}
body{
    font-family: "Raleway", sans-serif;



}




/* ****************** Reset  Styles ****************** */
.carousel-caption{
    z-index: 1;



}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d90062'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d90062'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }




a{
    color: var(--link-color);
    transition: all 0.3s ease-out;

}
a:hover{
    color: var(--first-color);

}



.dropdown-item{
    color: var(--first-alpha-color)!important;
    font-weight: bold;
    transition: all .3s ease-in-out;


}

.dropdown-item:hover{
    color: var(--third-alpha-color)!important;
  


}
/* 
.navbar-brand img{
    height: 3rem;
    width: auto;
}
.nav-item{
   
    transition: all .3s ease-in-out;

}
.nav-item:hover{
    background-color: var(--first-alpha-color)!important;
    

}
.bg-dark{
    background-color: var(--second-color) !important;
}
.nav-link {
    color: var(--first-color);
    font-size: 1.15rem;
    font-weight: bold;
    margin-left: .5rem;


}
.nav-link:hover{
   color: var(--bs-white);

}
.navbar-dark .navbar-toggler{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  

}
.navbar-dark .navbar-toggler:hover{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    opacity: 0.75;
    


} */


/* ****************** My  Styles ****************** */

.bg-gradient-blue-green{
background-color:#2d2d2d;
background-image: linear-gradient(
135deg,
rgb(47,145,224,0.91),
rgb(7,31,51,0.97) 79%

);
background-image: linear-gradient(
131deg,
rgba(12, 61, 196, 0.92),
rgb(151, 1, 1)

);

}
.bg-third-color{
    background-color: var(--third-color);
}

.second-text-color{
    color: var(--second-color);
    transition: all .3s ease-out;


}
.bg-color{
background-color: var(--bg-color);

}
.bg-alpha-color{
    background-color: var(--bg-alpha-color);
    
    }
.second-alpha-color{
    background-color: var(--second-alpha-color);




}
.bg-hero-image{

background-image: var(--bg-image);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.second-text-color:hover{
    color: var(--first-color);
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {



 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.nav-item:hover{
    background-color: transparent !important;

    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
    
    
    }



 

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
   
    
    }
